* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: rgb(255, 217, 0);
    text-align: center;
    color: #333;
    padding: 10px;
}

.title {
    font-size: 26px;
    text-transform: uppercase;
}

section {
    padding: 20px;
    background-image: url(../images/astronauta.avif);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 16px;
}

.mb {
    margin-bottom: 15px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

input[type="submit"]{
    /* color: white; */
    background-color: rgb(255, 217, 0);
    font-weight: bold;
    cursor: pointer;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../images/seta.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    /* background-position: calc(100% - 10px) center; */
}

.picture {
    width: 160px;
}

footer {
    background-color: #333;
    padding: 40px;
    text-align: center;
}

.description {
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
}